body {
    background-color: rgb(156, 110, 110);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  div {
    border: 2px solid black;
  }
  .card {
    margin: 2 auto;
  }
  main div {
    height: 30vh;
    color: #000;
  }
